#!/usr/bin/make -f
export LIB_BASE=$(CURDIR)/debian/libraries
export LIB_DIR=$(LIB_BASE)/lib
export MCROUTER_EXPECTED_DIR=$(CURDIR)/../mcrouter
export MY_MAKEFLAGS=$(shell perl -e 'print "-j$$1" if ($$ENV{"DEB_BUILD_OPTIONS"} =~ /parallel=(\d+)/);')
%:
	dh $@ --with=systemd --parallel

configure_and_build_folly:
	cd third-party/folly/build && \
	    LD_LIBRARY_PATH="$(LIB_DIR):$$LD_LIBRARY_PATH" \
		LD_RUN_PATH="$(LIB_DIR):$$LD_RUN_PATH" \
		cmake -DCMAKE_INSTALL_PREFIX:PATH=$(LIB_BASE) ..
	cd third-party/folly/build && make $(MY_MAKEFLAGS)
	cd third-party/folly/build && make install

configure_and_build_fbthrift:
	cd third-party/fbthrift/build && \
	    LD_LIBRARY_PATH="$(LIB_DIR):$$LD_LIBRARY_PATH" \
		LD_RUN_PATH="$(LIB_DIR):$$LD_RUN_PATH" \
		cmake -DCMAKE_INSTALL_PREFIX:PATH=$(LIB_BASE) ..
	cd third-party/fbthrift/build && make $(MY_MAKEFLAGS)
	cd third-party/fbthrift/build && make install

configure_mcrouter:
	# Ugly, ugly, ugly hack to cope quickly with the "peculiar" includes
	# structure of mcrouter
	test -d $(MCROUTER_EXPECTED_DIR) || ln -s $(CURDIR) $(MCROUTER_EXPECTED_DIR)
	autoreconf --install
	LD_LIBRARY_PATH="$(LIB_DIR):$$LD_LIBRARY_PATH" \
		LD_RUN_PATH="$(LIB_DIR):$$LD_RUN_PATH" \
		LDFLAGS="-L$(LIB_DIR) $$LDFLAGS" \
		CPPFLAGS="-I$(LIB_BASE)/include $$CPPFLAGS" \
		./configure --prefix=/usr

override_dh_auto_configure: configure_and_build_folly configure_and_build_fbthrift configure_mcrouter

override_dh_auto_install:
	dh_auto_install
	# Clean the debian/libraries directory where we temporarily installed the libraries
	test -h $(MCROUTER_EXPECTED_DIR) && rm -rf $(MCROUTER_EXPECTED_DIR)
	rm -rf $(LIB_BASE)

override_dh_auto_clean:
	-cd third-party/folly/folly && make clean
	-cd third-party/wangle/wangle && make clean
	-cd mcrouter && make clean

override_dh_auto_test:
	# Do nothing as we don't have libgtest static assets:
	# debian has a source package gtest, which doesn't build nor ships
	# The static libraries needed for this test (see #662989)
	# In order to run the tests, we should first build the gtest static objects,
	# and copy them into our source tree.
	echo "Skipping tests due to missing gtest artifacts"

override_dh_systemd_enable:
	dh_systemd_enable --no-enable
